/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.textfield, .menubutton{
	-fx-background-color : linear-gradient(to bottom, #cfcbcb, #eee);
	-fx-background-radius : 5px;
	-fx-border-radius: 5px;
	-fx-border-color : #000;
	-fx-font-size : 13px;
	-fx-font-family : "Tahoma";
}
.school{
	-fx-font-size : 20px;
	-fx-font-weight : bold;
}
.textfield:focused{
	-fx-border-color : #fff;
	-fx-background-color : #fff;
}
.label{
	-fx-font-family : "Tahoma";
	-fx-font-size : 18px;
}
.logIn_btn{
	-fx-background-color : #ba0f2e;
	-fx-font-family : "Tahoma";
	-fx-font-size : 18px;
	-fx-cursor : hand;
}
.logIn_btn:hover{
	-fx-background-color : #6E071A;
}
.stage{
	-fx-background-color : linear-gradient(to top, #87e0f2, #eacbf2);
}
.left_scene{
	-fx-background-color : linear-gradient(to bottom, #ba0f2e, #ffc4c4);
}
.right_scene{
	-fx-background-color : #fff;
}
.td_label{
	-fx-font-size : 16px;
	-fx-text-fill : #ba0f2e;
}
.dangnhap{
	-fx-font-size : 30px;
	-fx-font-weight : bold;
	-fx-text-fill : #ba0f2e;
}
